/*MEGA*/
h1 strong, 
h2 strong, 
h3 strong, 
h4 strong {
    color:#800020!important;
    font-weight: 500 !important;
    line-height: 1 !important;
    font-size: 2em !important;
    letter-spacing: -.03em !important;
}
 
@media screen and (max-width: 767px) {
    h1 strong, 
    h2 strong, 
    h3 strong, 
    h4 strong {
        color:blue!important;
        font-size: 1.8em !important;
    }
}
